#quote-box {
    width: 500px;
    min-height: 250px;
    text-align: center;
    padding: 10px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;

    #text {
        font-size: 3ch;
    }

    #author {
        text-align: right;
    }

    #buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;

        #new-quote {
            padding: 10px;
            width: 100px;
            border-radius: 5px;
            border: none;
            order: 1;
            cursor: pointer;          
        }
    
        #tweet-quote {
            width: 50px;
        }
    }

}